<div class="card">
    <h5>Continents</h5>
    
    <!-- Form for adding new continent -->
    <form (ngSubmit)="addContinent()" class="mb-3">
        <div class="flex align-items-center">
            <span class="p-float-label mr-2">
                <input pInputText id="continent_name" type="text" [(ngModel)]="newContinent.continent_name" name="continent_name" required />
                <label for="continent_name">Continent Name</label>
            </span>
            <button pButton type="submit" label="Add Continent" icon="pi pi-plus"></button>
        </div>
    </form>

    <p-table #dt2 dataKey="id" [value]="continents" [loading]="loading" responsiveLayout="scroll" [paginator]="true"
             [rows]="10" [rowHover]="true" [globalFilterFields]="['continent_id','continent_name']">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt2)"></button>
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter($event, dt2)" placeholder="Search Keyword" class="w-full"/>
                </span>
            </div>
        </ng-template>
  
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-continent>
            <tr>
                <td>{{continent.continent_id}}</td>
                <td>{{continent.continent_name}}</td>
                <td>
                    <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteContinent(continent.continent_id)"></button>
                  </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2">No continents found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="2">Loading continents data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
